RewriteEngine on

# remove traling slash
RewriteRule ^(.*)/$ /parking/$1 [L,R=301]

redirectMatch 301 ^/parking/console$ /parking/console/login.php

# remove file extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

Redirect 301 /parking/index /parking/

# use routes.php file to make content if filename doesn't exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . routes.php [L]